.footer{
margin-top: 3rem;
  background-color: #e6e6e6;
  color: black;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  position: fixed;
   left: 0;
   bottom: 0;


   width: 100%;
}

